<?xml version="1.0"?>
<config>
    <modules>
        <TDK_StoreRedirect>
            <version>0.1.0</version>
        </TDK_StoreRedirect>
    </modules>
    <global>
        <models>
            <tdk_storeredirect>
                <class>TDK_StoreRedirect_Model</class>
                <resourceModel>tdk_storeredirect_resource</resourceModel>
            </tdk_storeredirect>
            <tdk_storeredirect_resource>
                <class>TDK_StoreRedirect_Model_Resource</class>
            </tdk_storeredirect_resource>
        </models>
        <blocks>
            <tdk_storeredirect>
                <class>TDK_StoreRedirect_Block</class>
            </tdk_storeredirect>
        </blocks>
        <helpers>
            <tdk_storeredirect>
                <class>TDK_StoreRedirect_Helper</class>
            </tdk_storeredirect>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <tdk_storeredirect>
                        <class>tdk_storeredirect/observer</class>
                        <method>controllerActionPostdispatch</method>
                    </tdk_storeredirect>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
</config>