<?xml version="1.0"?>
<config>
    <modules>
        <TDK_DropShip>
            <version>0.1.0</version>
        </TDK_DropShip>
    </modules>
    <global>
        <models>
            <tdk_dropship>
                <class>TDK_DropShip_Model</class>
                <resourceModel>tdk_dropship_resource</resourceModel>
            </tdk_dropship>
            <tdk_dropship_resource>
                <class>TDK_DropShip_Model_Resource</class>
                <entities>
                    <supplier>
                        <table>dropship_supplier</table>
                    </supplier>
                    <supplier_product>
                        <table>dropship_supplier_product</table>
                    </supplier_product>
                </entities>
            </tdk_dropship_resource>
        </models>
        <blocks>
            <tdk_dropship>
                <class>TDK_DropShip_Block</class>
            </tdk_dropship>
        </blocks>
        <helpers>
            <tdk_dropship>
                <class>TDK_DropShip_Helper</class>
            </tdk_dropship>
        </helpers>
        <resources>
            <tdk_dropship_setup>
                <setup>
                    <module>TDK_DropShip</module>
                </setup>
            </tdk_dropship_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TDK_DropShip before="-">TDK_DropShip_Admin</TDK_DropShip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tdk_dropship>
                    <file>tdk_dropship.xml</file>
                </tdk_dropship>
            </updates>
        </layout>
    </adminhtml>
</config>