<?xml version="1.0"?>
<config>
    <modules>
        <TDK_DropShip>
            <version>0.1.3</version>
        </TDK_DropShip>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <supplier_id>
                    <to_order_item>*</to_order_item>
                </supplier_id>
            </sales_convert_quote_item>
        </fieldsets>
        <models>
            <tdk_dropship>
                <class>TDK_DropShip_Model</class>
                <resourceModel>tdk_dropship_resource</resourceModel>
            </tdk_dropship>
            <tdk_dropship_resource>
                <class>TDK_DropShip_Model_Resource</class>
                <entities>
                    <supplier>
                        <table>dropship_supplier</table>
                    </supplier>
                    <supplier_product>
                        <table>dropship_supplier_product</table>
                    </supplier_product>
                    <supplier_order>
                        <table>dropship_supplier_order</table>
                    </supplier_order>
                </entities>
            </tdk_dropship_resource>
            <sales>
                <rewrite>
                    <quote_address>TDK_DropShip_Model_Rewrite_Sales_Quote_Address</quote_address>
                    <service_order>TDK_DropShip_Model_Rewrite_Sales_Service_Order</service_order>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <shipping>TDK_DropShip_Model_Rewrite_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>TDK_DropShip_Model_Rewrite_Usa_Shipping_Carrier_Ups</shipping_carrier_ups>
                    <shipping_carrier_usps>TDK_DropShip_Model_Rewrite_Usa_Shipping_Carrier_Usps</shipping_carrier_usps>
                </rewrite>
            </usa>
        </models>
        <blocks>
            <tdk_dropship>
                <class>TDK_DropShip_Block</class>
            </tdk_dropship>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_create_form>TDK_DropShip_Block_Rewrite_Adminhtml_Sales_Order_Shipment_Create_Form</sales_order_shipment_create_form>
                    <sales_order_shipment_packaging>TDK_DropShip_Block_Rewrite_Adminhtml_Sales_Order_Shipment_Packaging</sales_order_shipment_packaging>
                    <sales_order_shipment_create>TDK_DropShip_Block_Rewrite_Adminhtml_Sales_Order_Shipment_Create</sales_order_shipment_create>
                    <sales_order_shipment_view>TDK_DropShip_Block_Rewrite_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <tdk_dropship>
                <class>TDK_DropShip_Helper</class>
            </tdk_dropship>
        </helpers>
        <resources>
            <tdk_dropship_setup>
                <setup>
                    <module>TDK_DropShip</module>
                </setup>
            </tdk_dropship_setup>
        </resources>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <tdk_dropship>
                        <type>singleton</type>
                        <class>tdk_dropship/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </tdk_dropship>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <tdk_dropship>
                        <type>singleton</type>
                        <class>tdk_dropship/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </tdk_dropship>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <tdk_dropship>
                        <type>singleton</type>
                        <class>tdk_dropship/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </tdk_dropship>
                </observers>
            </sales_order_place_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TDK_DropShip before="-">TDK_DropShip_Admin</TDK_DropShip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tdk_dropship>
                    <file>tdk_dropship.xml</file>
                </tdk_dropship>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <update_shipment_tracking_status>
                <schedule>
                    <!-- see https://crontab.guru/ At every minute past hour 1-->
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tdk_dropship/cronJob::updateShipmentTrackingStatus</model>
                </run>
            </update_shipment_tracking_status>
        </jobs>
    </crontab>
    <default>
        <shipping>
            <dropship>
                <allow>0</allow>
                <frequency>0 * * * *</frequency>
            </dropship>
        </shipping>
    </default>
</config>