@charset "utf-8";
/* CSS Document */
/*body {*/
/*padding-top: 20px;*/
/*padding-bottom: 20px;*/
/*}*/

/*.navbar {*/
/*margin-bottom: 20px;*/
/*}*/

/*.btW{*/
/*width:85px;}*/
/*.myTable{*/
/*/!*text-align:center*!/;}*/
/*.manager-f{*/
/*float:right;*/
/*}*/

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

/*#line {*/
/*height: 600px;*/
/*width: 800px;*/
/*}*/
.full-min-width {
    min-width: 100%;
}

.selected {
    background-color: #F5F5F0 !important;
/ / d9e8f7 border-color: grey;
    border-bottom: 1px solid #99c2eb;
    border-right: 1px solid #b2d1f0;
    border-spacing: 2px;

}

.rowHover {
    -vendor-animation-duration: 2s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
    background-color: #F5F5F0 !important;
}

#salesHistoryTable tr:hover {
    /*background-color: #178AEB;*/
    cursor: pointer !important;
}

.tooltip-inner {
    /*white-space: pre;*/
    /*max-width: none;*/
    /*max-height: none;*/
}

.myCustomClass {
}

.myCustomClass .qtip-content {
    font-size: 11px;
}

/*TODO: DATA TABLE*/
.dataTables_filter {
    display: none;
}

/*hide sort icon data table*/
table.dataTable thead .sorting:after {
    display: none !important;
}

.columnDataTableIz {
    min-width: 180px !important;
}

.columnDateTableIz {
    min-width: 110px !important;
    max-width: 150px !important;
}

.columnDataNumberTableIz {
    min-width: 50px !important;
    max-width: 120px;
!important;
}

/*TODO: filter DIRECTIVE*/

.filter-controls {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.body-iz-filter {
    border: 0px solid #bbb;
    background: #eee url("images/ui-bg_glass_60_eeeeee_1x400.png") 50% 50% repeat-x;
    color: #444;
}

.toggle-nav {
    display: none;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

@media (min-width: 768px) {
    .toggle-nav {
        display: block;
    }
}

.table > thead:first-child > tr:first-child > th {
    font-size: 12px;
}
